body {
	background-image: url('wall.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/* .login-area {
    width: 20%;
} */

.canvas {
	padding: 1rem;
	display: flex;
	/* justify-content: left; */
}

.memo-input {
	width: 100%;
	height: 150px;
	background-color: #f5e37b;
	box-shadow: 10px 10px 5px black;
	margin-bottom: 10px;
	font-weight: bold;
}

.choose-file {
	width: 100%;
}

/* .choose-file-text {
    font-size: 5px
} */

.memo-with-login {
	background-color: #871413;
	padding: 2rem 3rem;
	box-sizing: content-box;
	margin: 0 5px;
}

.memo-without-login {
	padding: 2rem 2rem;
	/* box-sizing: border-box; */
	margin: 0 5px;
}

.memo-input-item {
	position: relative;
}

/* .memo-item {
    padding: 1rem;
} */

.login {
	padding: 1rem 0;
}

.login-box {
	padding: 0 1px;
}

.login-text {
	width: 100%;
	margin: 2px 0;
}

.liked-item {
	background-color: #871413;
	padding: 2rem 2rem;
	/* box-sizing: content-box; */
	display: flex;
	justify-content: center;

	/* text-align: center; */
	margin: 1.5rem 5px;
}

.liked-word {
	padding: 0.375rem 0.75rem;
	font-size: 20px;
	color: white;
	border: 0;
	background-color: #871413;
}

.bi-hand-thumbs-up-fill {
	color: white;
	font-size: 20px;
}

.button {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.login-label {
	color: red;
	text-align: center;
}

.login-via-google {
	text-align: center;
	color: blue;
}

.image {
	width: 100%;
}

.delete {
	position: absolute;
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	top: -15px;
	right: -15px;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.edit {
	position: absolute;
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	bottom: 0px;
	right: -15px;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.count-container {
	position: absolute;
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	top: -15px;
	left: -15px;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.like {
	position: absolute;
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	bottom: 0px;
	left: -15px;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}


/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	z-index: 100
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
	text-align: center;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.login-submit,
.register-submit {
	margin: 0 0.5rem;
}